{% extends "base.html" %}

{% block head %}
<title>About Us - Gurkha Watch</title>
{% endblock head %}

{% block content %}
<!-- About us start -->
<div class="bg-primary2 text-secondary">
  <div class="
          h-96
          max-w-screen-2xl
          mx-auto
          px-4
          flex flex-col
          justify-center
          items-center
        ">
    <p class="text-4xl font-bold mb-2">GURKHA WATCH</p>
    <p class="text-2xl font-medium">ABOUT US</p>
  </div>
  <div class="bg-primary3 text-secondary">
    <div class="
            max-w-screen-2xl
            mx-auto
            px-4
            py-8
            text-sm
            leading-relaxed
            font-jura
          ">
      <p>
        Gurkha Watch is a timepiece with technological masterwork and
        ingenious mechanism that symbolizes over 2000 years of bravery and
        acts of extreme valour that lionhearted Gurkha soldiers have shown
        in several war theatres and peacekeeping missions. It is an emblem
        of the Gurkhas-globally known as "The Bravest of the Brave" - who
        have laughed to greet every hardship, remained uncomplaining to
        endure hunger, thirst and wounds, and faced tougher to toughest wars
        without fear. And this watch is for the Gurkha veterans and their
        families who sacrificed their valuable family moments for The Crown
        and mankind that never returned.
      </p>
      <br />
      <p>
        The year 2015 completed the 200 years of Gurkha service to the
        Crown. And this year also marked decades of Gurkhas' service in
        peacekeeping operations around the world. To commemorate their
        service and sacrifice, we, Gurkha Jewellers UK, produced and
        introduced 200 pieces of Khukuri Cross Gurkha watches in UK. The
        first edition of these watches made a big-bang market penetration in
        the UK, and secured quickest sale in the country, which is home to
        millions of Ex-British soldiers.
      </p>
      <br />
      <p>
        We are now venturing to introduce more quintessential watches that
        combine style, elegance and history.
      </p>
    </div>
  </div>
</div>
<!-- About us end -->
{% endblock content %}