{% extends "base.html" %}

{% block head %}
<title>Blog - Gurkha Watch</title>
{% endblock head %}

{% block content %}
<!-- Blog start -->
<div class="bg-primary2 text-secondary">
  <div class="max-w-screen-2xl my-4 mx-auto px-4 py-6">
    <p class="mb-1 text-xl font-bold text-center">BLOG</p>
    <p class="text-sm text-secondary3 text-center">Welcome to our blog!</p>
  </div>
  <div class="bg-primary2 text-secondary">
    <div class="max-w-screen-2xl mx-auto px-4">
      <div class="py-8 flex justify-end">
        <select name="sorting" class="px-3 py-1 bg-primary5 text-sm rounded-md focus:outline-none cursor-pointer"
          style="padding-inline-end: 1rem;">
          <option selected>Sorting</option>
        </select>
      </div>
      <div class="lg:px-56 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 text-secondary3">
        <a href="#!" class="p-4 bg-black">
          <p class="font-bold">This Here Is The Title</p>
          <div class="h-px w-1/6 my-3 bg-secondary3"></div>
          <p class="text-xs">
            Gurkha Watch is a timepiece with technological masterwork and
            ingenious mechanism that symbolizes over 200 years of bravery
            and acts of extreme valour.
          </p>
          <p class="my-3 text-xs">22/09/2021</p>
          <div class="h-24 w-full bg-secondary3"></div>
        </a>
        <a href="#!" class="p-4 bg-black">
          <p class="font-bold">This Here Is The Title</p>
          <div class="h-px w-1/6 my-3 bg-secondary3"></div>
          <p class="text-xs">
            Gurkha Watch is a timepiece with technological masterwork and
            ingenious mechanism that symbolizes over 200 years of bravery
            and acts of extreme valour.
          </p>
          <p class="my-3 text-xs">22/09/2021</p>
          <div class="h-24 w-full bg-secondary3"></div>
        </a>
        <a href="#!" class="p-4 bg-black">
          <p class="font-bold">This Here Is The Title</p>
          <div class="h-px w-1/6 my-3 bg-secondary3"></div>
          <p class="text-xs">
            Gurkha Watch is a timepiece with technological masterwork and
            ingenious mechanism that symbolizes over 200 years of bravery
            and acts of extreme valour.
          </p>
          <p class="my-3 text-xs">22/09/2021</p>
          <div class="h-24 w-full bg-secondary3"></div>
        </a>
        <a href="#!" class="p-4 bg-black">
          <p class="font-bold">This Here Is The Title</p>
          <div class="h-px w-1/6 my-3 bg-secondary3"></div>
          <p class="text-xs">
            Gurkha Watch is a timepiece with technological masterwork and
            ingenious mechanism that symbolizes over 200 years of bravery
            and acts of extreme valour.
          </p>
          <p class="my-3 text-xs">22/09/2021</p>
          <div class="h-24 w-full bg-secondary3"></div>
        </a>
        <a href="#!" class="p-4 bg-black">
          <p class="font-bold">This Here Is The Title</p>
          <div class="h-px w-1/6 my-3 bg-secondary3"></div>
          <p class="text-xs">
            Gurkha Watch is a timepiece with technological masterwork and
            ingenious mechanism that symbolizes over 200 years of bravery
            and acts of extreme valour.
          </p>
          <p class="my-3 text-xs">22/09/2021</p>
          <div class="h-24 w-full bg-secondary3"></div>
        </a>
        <a href="#!" class="p-4 bg-black">
          <p class="font-bold">This Here Is The Title</p>
          <div class="h-px w-1/6 my-3 bg-secondary3"></div>
          <p class="text-xs">
            Gurkha Watch is a timepiece with technological masterwork and
            ingenious mechanism that symbolizes over 200 years of bravery
            and acts of extreme valour.
          </p>
          <p class="my-3 text-xs">22/09/2021</p>
          <div class="h-24 w-full bg-secondary3"></div>
        </a>
        <a href="#!" class="p-4 bg-black">
          <p class="font-bold">This Here Is The Title</p>
          <div class="h-px w-1/6 my-3 bg-secondary3"></div>
          <p class="text-xs">
            Gurkha Watch is a timepiece with technological masterwork and
            ingenious mechanism that symbolizes over 200 years of bravery
            and acts of extreme valour.
          </p>
          <p class="my-3 text-xs">22/09/2021</p>
          <div class="h-24 w-full bg-secondary3"></div>
        </a>
        <a href="#!" class="p-4 bg-black">
          <p class="font-bold">This Here Is The Title</p>
          <div class="h-px w-1/6 my-3 bg-secondary3"></div>
          <p class="text-xs">
            Gurkha Watch is a timepiece with technological masterwork and
            ingenious mechanism that symbolizes over 200 years of bravery
            and acts of extreme valour.
          </p>
          <p class="my-3 text-xs">22/09/2021</p>
          <div class="h-24 w-full bg-secondary3"></div>
        </a>
      </div>
      <div class="lg:px-56 pt-10 pb-14 flex justify-between">
        <a href="#!" class="fa-stack">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-angle-left fa-stack-1x text-primary"></i>
        </a>
        <a href="#1" class="fa-stack">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-angle-right fa-stack-1x text-primary"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Blog end -->
{% endblock content %}