{% extends "base.html" %}
{% load mathfilters %}

{% block head %}
<title>Cart - Gurkha Watch</title>
<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  #cart-table th,
  #cart-table td {
    width: calc(100% / 3);
    text-align: center;
    padding: 0.5rem;
  }

  #order-table th,
  #order-table td {
    padding: 0.5rem;
  }

  #order-table tr:first-child td {
    padding-top: 1rem;
  }

  #order-table tr:last-child td {
    padding-bottom: 1rem;
  }
</style>
{% endblock head %}

{% block content %}
<div class="bg-primary2 text-secondary">
  <div class="max-w-screen-xl mx-auto px-4 pt-8 pb-12">
    <p class="pb-6 text-xl font-bold text-center">MY CART</p>
    {% if not cart_items %}
    <div class="text-center">
      <i class="fas fa-shopping-bag fa-5x text-secondary2 mb-4"></i>
      <p>Your cart is currently empty.</p>
      <a href="{% url 'shop' %}"
        class="mt-3 px-4 py-1 inline-block bg-green-900 hover:bg-green-800 text-secondary text-center text-sm rounded-md transition-all">Continue
        Shopping</a>
    </div>
    {% else %}
    <div class="md:flex md:items-start md:space-x-12">
      <table id="cart-table" class="w-full border-collapse" style="flex: 2;">
        <thead>
          <tr class="border-b border-secondary2">
            <th>Product</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody class="text-sm">
          {% for cart_item in cart_items %}
          <tr class="border-b border-secondary2">
            <td class="flex justify-center items-center space-x-4" style="width: 100%;">
              <div style="min-width: 50px; max-width: 100px;">
                <img src="{{ cart_item.product.image.url }}" alt="{{cart_item.product.product_name}}"
                  class="h-full w-full object-contain" />
              </div>
              <a href="{{ cart_item.product.get_url }}" class="block">{{cart_item.product.product_name|upper}}</a>
            </td>
            <td>
              <form>
                <div class="flex justify-center items-center">
                  <a href="{% url 'remove_cart' cart_item.product.id %}" class="text-xl font-bold">-</a>
                  <input type="number" step="1" value="{{cart_item.quantity}}"
                    class="w-8 mx-1.5 py-0.5 text-center bg-primary text-secondary border border-secondary outline-none rounded-md" />
                  <a href="{% url 'add_cart' cart_item.product.id %}" class="text-xl font-bold">+</a>
                </div>
                <div class="mt-2 flex justify-center items-center">
                  <a href="{% url 'remove_cart_item' cart_item.product.id %}"
                    class="px-1 text-xs border border-secondary rounded-sm">REMOVE</a>
                </div>
              </form>
            </td>
            <td>
              AU ${{cart_item.sub_total|div:100|stringformat:'.2f'}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div style="flex: 1;">
        <table id="order-table" class="w-full mt-10 md:mt-0 border-collapse">
          <thead>
            <tr class="border-b border-secondary2">
              <th colspan="2">ORDER SUMMARY</th>
            </tr>
          </thead>
          <tbody class="text-sm">
            <tr>
              <td>
                Order Total ({{cart_count}} Items)
              </td>
              <td>
                AU ${{total|div:100|stringformat:'.2f'}}
              </td>
            </tr>
            <tr>
              <td>
                Shipping
              </td>
              <td>
                AU $0
              </td>
            </tr>
            <tr class="border-b border-secondary2">
              <td>
                Service Charge
              </td>
              <td>
                AU ${{service_charge|div:100|stringformat:'.2f'}}
              </td>
            </tr>
          </tbody>
          <tfoot class="text-sm font-bold">
            <tr>
              <td>Grand Total</td>
              <td>AU ${{grand_total|div:100|stringformat:'.2f'}}</td>
            </tr>
          </tfoot>
        </table>
        <div class="flex justify-center space-x-1.5">
          <i class="fab fa-cc-visa fa-2x"></i>
          <i class="fab fa-cc-mastercard fa-2x"></i>
          <i class="fab fa-cc-amex fa-2x"></i>
          <i class="fab fa-cc-discover fa-2x"></i>
        </div>
        <a href="{% url 'checkout' %}"
          class="w-full mt-4 px-4 py-1 block bg-secondary hover:bg-secondary4 text-primary text-center rounded-md font-bold">
          Proceed To Checkout
        </a>
        <a href="{% url 'shop' %}"
          class="w-full mt-4 px-4 py-1 block bg-secondary hover:bg-secondary4 text-primary text-center rounded-md font-bold">
          Continue Shopping
        </a>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}