{% extends "base.html" %}
{% load mathfilters %}

{% block head %}
<title>Homepage - Gurkha Watch</title>
<style>
  .slick-dots {
    position: static;
  }

  .carousel-slide {
    height: 40vh;
  }

  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  @media (min-width: 640px) {
    .carousel-slide {
      height: 50vh;
    }
  }

  @media (min-width: 768px) {
    .carousel-overlay {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  @media (min-width: 1024px) {
    .carousel-slide-content {
      background-position: top 0 right 10rem;
    }
  }

  @media (min-width: 1280px) {
    .carousel-slide-content {
      background-position: top 0 right 16rem;
    }
  }
</style>
{% endblock head %}

{% block content %}
<!-- Carousel start -->
<div class="bg-primary2">
  <div class="max-w-screen-2xl mt-4 mx-auto px-4 main-carousel" style="margin-bottom: 0;">
    {% for item in sliders %}
    <div class="carousel-slide bg-primary4 text-secondary">
      <div class="carousel-slide-content h-full w-full relative bg-no-repeat bg-right bg-contain"
        style="background-image: url('{{item.slider_product_image.url}}');">
        <div class="carousel-overlay">
          <div
            class="h-full w-full sm:w-3/5 lg:w-2/4 p-3 lg:pl-64 flex flex-col justify-center items-center font-montserrat">
            <h2 class="mb-3 lg:mb-4 text-3xl lg:text-4xl font-semibold text-center">{{item.slider_product_name|upper}}</h2>
            <div class="mb-2 lg:mb-3 text-secondary2 uppercase text-center" style="font-size: 0.6rem;">
              {{item.slider_description|safe}}
            </div>
            <div class="flex items-center space-x-4">
              <div class="text-right">
                <p class="mb-1 text-golden" style="font-size: 0.5rem;">STARTING FROM</p>
                {% if item.slider_product_name.discount_percent %}
                <p class="text-secondary3 leading-none line-through">AU ${{item.slider_product_name.price|div:100|stringformat:'.2f'}}</p>
                <p class="leading-tight">AU ${{item.slider_product_name.discount|div:100|stringformat:'.2f'}}</p>
                {% else %}
                <p class="text-secondary3 leading-none">AU ${{item.slider_product_name.price|div:100|stringformat:'.2f'}}</p>
                {% endif %}
              </div>
              <a href="{{item.slider_product_name.get_url}}"
                class="py-1 px-2 text-xs text-golden hover:text-secondary hover:bg-golden border border-golden rounded-md transition-all duration-500">
                PRODUCT INFO
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<!-- Carousel end -->

<!-- Collection start -->
<div class="bg-primary2 text-secondary">
  <div class="max-w-screen-2xl mx-auto px-4 pt-6">
    <p class="mb-4 text-center">OUR COLLECTION</p>
    <div class="collection-carousel">
      {% for collection in collections %}
      <div class="px-3">
        <a href="{{collection.get_url}}" class="h-72 overflow-hidden block relative">
          {% if collection.category_image %}
          <img src="{{collection.category_image.url}}" alt="{{collection.category_name}}"
            class="h-full w-full object-cover transform hover:scale-110 transition duration-700" />
          {% endif %}
          <div class="absolute bottom-4 left-4 font-jura text-secondary">
            <h2 class="text-xl font-semibold">{{collection.category_name|upper}}</h2>
            <p class="text-sm text-secondary2">12 ITEMS</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Collection end -->

<!-- Best selling start -->
<div class="bg-primary2 text-secondary">
  <div class="max-w-screen-2xl mx-auto px-4 pt-6 pb-4">
    <div class="mb-4 flex items-center space-x-3">
      <span>BEST SELLING PRODUCTS</span>
      <span class="h-0.5 bg-secondary2 flex-grow rounded-sm"></span>
    </div>
    <div class="best-selling-carousel">
      {% for best_selling_product in best_selling_products %}
      <div class="p-3">
        <div class="relative">
          {% if best_selling_product.discount %}
          <span
            class="px-1.5 py-0.5 absolute top-0 left-0 text-xs transform -translate-x-1 -translate-y-1/2 bg-red-500 rounded-md"
            style="z-index: 100;">
            {{best_selling_product.discount_percent|floatformat}}% OFF
          </span>
          {% endif %}
          {% if best_selling_product.stock <= 0 %}          
          <span
            class="px-2 py-1 absolute top-1/3 left-1/2 text-xs text-center font-bold text-red-500 border uppercase border-red-500 transform -rotate-12 -translate-x-1/2 rounded-md"
            style="z-index: 100;">
            Out Of Stock
          </span>
          {% endif %}
          <a href="{{best_selling_product.get_url}}" class="h-60 mb-2 block overflow-hidden">
            <img src="{{best_selling_product.image.url}}" alt="{{best_selling_product.product_name}}"
              class="h-full w-full object-cover transform hover:rotate-30 hover:scale-150 transition duration-500">
          </a>
          <p class="text-golden text-center text-xs">{{best_selling_product.product_name|upper}}</p>
          <a href="{{best_selling_product.get_url}}"
            class="block text-secondary text-center text-sm transition-all hover:text-secondary3">{{best_selling_product.product_name|upper}}</a>
          <div class="h-0.5 my-1 bg-secondary2"></div>
          <div class="flex justify-center items-center space-x-2">
            {% if best_selling_product.discount %}            
            <p class="text-secondary3 text-center text-sm line-through">AU ${{best_selling_product.price|div:100|stringformat:'.2f'}}</p>
            <p class="text-secondary text-center text-sm">AU ${{best_selling_product.discount|div:100|stringformat:'.2f'}}</p>
            {% else %}
            <p class="text-secondary text-center text-sm">AU ${{best_selling_product.price|div:100|stringformat:'.2f'}}
            {% endif %}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Best selling end -->
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(function () {
    $(".main-carousel").slick({
      dots: true,
      arrows: false,
      fade: false,
      inifinite: true,
      speed: 1000,
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 3000,
    });

    $(".collection-carousel").slick({
      dots: false,
      arrows: false,
      infinite: true,
      speed: 500,
      slidesToShow: 4,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
      responsive: [{
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
          infinite: true,
        },
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          infinite: true,
        },
      },
      {
        breakpoint: 640,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
        },
      },
      ],
    });

    $(".best-selling-carousel").slick({
      dots: false,
      arrows: false,
      infinite: true,
      speed: 500,
      slidesToShow: 5,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2500,
      responsive: [{
        breakpoint: 1024,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 1,
          infinite: true,
        },
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 1,
          infinite: true,
        },
      },
      {
        breakpoint: 640,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1,
          infinite: true,
        },
      },
      {
        breakpoint: 500,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          infinite: true,
        },
      },
      ],
    });
  });
</script>
{% endblock scripts %}