{% extends "base.html" %}

{% block head %}
<title>Make Payment - Gurkha Watch</title>
<style>
  #cart-table th,
  #cart-table td {
    width: calc(100% / 3);
    text-align: center;
    padding: 0.5rem;
  }

  #order-table th,
  #order-table td {
    padding: 0.5rem;
  }

  #order-table tr:first-child td {
    padding-top: 1rem;
  }

  #order-table tr:last-child td {
    padding-bottom: 1rem;
  }
</style>
{% endblock head %}

{% block content %}
<div class="bg-primary text-secondary">
  <p class="max-w-screen-2xl mx-auto px-4 pt-8 pb-12 text-xl font-bold text-center">MAKE PAYMENT</p>
  <div class="max-w-screen-2xl mx-auto px-4 pb-8 lg:flex lg:space-x-12">
    <div style="flex: 2;">
      <div class="p-6 bg-primary3 rounded-3xl">
        <p class="mb-2 pb-0.5 text-lg font-bold border-b border-secondary2">BILLING DETAILS</p>
        <div>
          <p>{{order.first_name}} {{order.last_name}}</p>
          <p>{{order.street_address}}</p>
          <p>{{order.city}}, {{order.state}}</p>
          <p>{{order.country}}</p>
          <p>{{order.email}}</p>
          <p>{{order.phone_number}}</p>
          {% if order.order_notes %}
          <strong>Order Note:</strong> {{order.order_notes}}
          {% endif %}
        </div>
        <p class="mt-4 pb-0 5 text-lg font-bold border-b border-secondary2">ORDERED PRODUCTS</p>
        <table id="cart-table" class="w-full border-collapse" style="flex: 2;">
          <thead>
            <tr class="border-b border-secondary2">
              <th>Product</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody class="text-sm">
            {% for cart_item in cart_items %}
            <tr class="border-b border-secondary2">
              <td class="flex justify-center items-center space-x-4" style="width: 100%;">
                <div style="min-width: 50px; max-width: 100px;">
                  <img src="{{ cart_item.product.image.url }}" alt="{{cart_item.product.product_name}}"
                    class="h-full w-full object-contain" />
                </div>
                <a href="{{ cart_item.product.get_url }}" class="block">{{cart_item.product.product_name|upper}}</a>
              </td>
              <td>
                <form>
                  <div class="flex justify-center items-center">
                    <a href="{% url 'remove_cart' cart_item.product.id %}" class="text-xl font-bold">-</a>
                    <input type="number" step="1" value="{{cart_item.quantity}}"
                      class="w-8 mx-1.5 py-0.5 text-center bg-primary text-secondary border border-secondary outline-none rounded-md" />
                    <a href="{% url 'add_cart' cart_item.product.id %}" class="text-xl font-bold">+</a>
                  </div>
                  <div class="mt-2 flex justify-center items-center">
                    <a href="{% url 'remove_cart_item' cart_item.product.id %}"
                      class="px-1 text-xs border border-secondary rounded-sm">REMOVE</a>
                  </div>
                </form>
              </td>
              <td>
                AUD ${{cart_item.sub_total}}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="mt-6 p-6 lg:mt-0 bg-primary3 rounded-3xl" style="flex: 1;">
      <p class="pb-0.5 text-lg font-bold border-b border-secondary2">ORDER SUMMARY</p>
      <table id="order-table" class="w-full border-collapse">
        <tbody class="text-sm">
          <tr>
            <td>
              Order Total ({{cart_count}} Items)
            </td>
            <td>
              AU ${{total}}
            </td>
          </tr>
          <tr class="border-b border-secondary2">
            <td>
              Shipping
            </td>
            <td>
              $0
            </td>
          </tr>
        </tbody>
        <tfoot class="text-sm font-bold">
          <tr>
            <td>Grand Total</td>
            <td>${{grand_total}}</td>
          </tr>
        </tfoot>
      </table>

      <form action="{% url 'create-checkout-session' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="order-id" value="{{order.id}}">
        <button
          class="w-full mt-2 px-4 py-1 block bg-secondary hover:bg-secondary4 text-primary text-center rounded-md font-bold">
          Pay with Card
        </button>
      </form>

    </div>
  </div>
</div>
{% endblock content %}