{% extends "base.html" %}
{% load mathfilters %}

{% block head %}
<title>Our Shop - Gurkha Watch</title>
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
{% endblock head %}

{% block content %}
<div class="bg-primary2 text-secondary">
    <div class="max-w-screen-2xl mx-auto mt-4 mb-8 px-4 lg:flex lg:space-x-24">
        <div class="hidden lg:block">
            {% include "includes/categories.html" with categories=categories %}
        </div>
        <div class="flex-1">
            <div
                class="mb-6 sm:mb-8 flex flex-col sm:flex-row sm:justify-between sm:items-center space-y-2 sm:space-y-0">
                <span class="text-sm text-secondary3">{{product_count}} items found</span>
                <select name="sorting"
                    class="w-full px-1.5 py-1 bg-primary5 text-sm rounded-md focus:outline-none cursor-pointer"
                    style="max-width: 14rem;">
                    <option selected>Relevance</option>
                    <option>Sort by popularity</option>
                    <option>Sort by average rating</option>
                    <option>Sort by latest</option>
                    <option>Sort by price: low to high</option>
                    <option>Sort by price high to low</option>
                </select>
            </div>
            <div class="grid gap-10 sm:gap-12 lg:gap-14 grid-cols-1 sm:grid-cols-2 xl:grid-cols-3">
                {% if products %}
                {% for product in products %}
                <div class="relative">
                    {% if product.discount_percent > 0 %}
                    <span
                        class="px-1.5 py-0.5 absolute top-0 left-0 text-xs transform -translate-x-1 -translate-y-1/2 bg-red-500 rounded-md"
                        style="z-index: 100;">
                        {{product.discount_percent|floatformat}}% OFF
                    </span>
                    {% endif %}
                    <a href="{{product.get_url}}" class="h-80 mb-2 block overflow-hidden bg-primary4">
                        <img src="{{product.image.url}}" alt="{{product.product_name}}"
                            class="h-full w-full object-cover transform hover:rotate-30 hover:scale-150 transition duration-500">
                    </a>
                    <p class="text-golden text-center text-xs">{{product.product_name|upper}}</p>
                    <a href="{{product.get_url}}"
                        class="block text-secondary text-center text-sm">{{product.product_name|upper}}</a>
                    <div class="h-0.5 my-1 bg-secondary2"></div>
                    <div class="flex justify-center items-center space-x-2">
                        {% if product.discount_percent > 0 %}
                        <p class="text-secondary3 text-center text-sm line-through">AU
                            ${{product.price|div:100|stringformat:'.2f'}}</p>
                        <p class="text-secondary text-center text-sm">AU
                            ${{product.discount|div:100|stringformat:'.2f'}}</p>
                        {% else %}
                        <p class="text-secondary text-center text-sm">AU ${{product.price|div:100|stringformat:'.2f'}}
                        </p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div>
                    <h2>Sorry, no products found.</h2>
                </div>
                {% endif %}
            </div>
            {% if products.has_other_pages %}
            <div class="mt-8 sm:mt-14 flex justify-center items-center">
                {% if products.has_previous %}
                <a href="?page={{products.previous_page_number}}" class="px-2 bg-secondary rounded-md">
                    <i class="fas fa-angle-left text-primary"></i>
                </a>
                {% else %}
                <a href="#!" class="px-2 bg-secondary rounded-md">
                    <i class="fas fa-angle-left text-primary"></i>
                </a>
                {% endif %}
                <form>
                    <input type="number" value="{{products.page_number}}"
                        class="min mx-3 py-1 font-bold text-sm text-center bg-transparent outline-none border border-secondary rounded-md transition-all duration-200"
                        id="current-page" />
                </form>
                <span class="font-bold">/</span>
                <span class="mx-3 font-bold text-sm">10</span>
                {% if products.has_next %}
                <a href="?page={{products.next_page_number}}" class="px-2 bg-secondary rounded-md">
                    <i class="fas fa-angle-right text-primary"></i>
                </a>
                {% else %}
                <a href="#!" class="px-2 bg-secondary rounded-md">
                    <i class="fas fa-angle-right text-primary"></i>
                </a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% if products.has_other_pages %}
<script type="text/javascript">
    function resizeInput(element) {
        element.style.width = (element.value.length + 3) + "ch";
    }

    document.addEventListener("DOMContentLoaded", function () {
        var currentPage = document.getElementById("current-page");
        var events = "keyup,keypress,focus,blur,change".split(",");
        for (var i in events) {
            currentPage.addEventListener(events[i], function () {
                return resizeInput(currentPage);
            });
        }
        resizeInput(currentPage);
    });
</script>
{% endif %}
{% endblock scripts %}