{% extends "base.html" %}

{% block head %}
<title>Terms and Conditions - Gurkha Watch</title>
{% endblock head %}

{% block content %}
<div class="bg-primary text-secondary">
  <div class="max-w-screen-2xl mx-auto px-4 pt-8 pb-12">
    <p class="pb-6 text-xl font-bold text-center">TERMS AND CONDITIONS</p>
    <div class="font-medium font-jura">
      <p>Introduction</p>
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laboriosam culpa fuga eum minima numquam
        praesentium distinctio? Sed commodi eius minima deleniti nesciunt! Recusandae reiciendis sequi earum deleniti
        illo? Cumque modi exercitationem impedit. Autem laboriosam tempore maxime recusandae sunt, dicta commodi dolore
        cumque voluptatem temporibus? Tempore numquam ad explicabo deleniti ab hic nostrum tenetur obcaecati
        exercitationem, perferendis necessitatibus ipsam, pariatur impedit est iure ex eos saepe reiciendis quibusdam
        magni consectetur consequatur sunt corporis. Cupiditate tempore fugit modi quia ducimus beatae facere doloremque
        eaque.
      </p>
      <br />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quam ad sit deserunt dignissimos in repellendus
        dolore ex velit fugiat totam enim aliquid, minus quas hic pariatur natus est quod? Ullam suscipit at cupiditate
        labore, eum quas animi corporis aspernatur libero illo adipisci placeat. Explicabo vero voluptates rem
        exercitationem ea quo tempora temporibus eum cum impedit et veritatis aperiam maiores earum asperiores eligendi
        ipsum odio molestiae, repudiandae aliquam. Vel tempore eaque a fugit culpa neque facilis labore, architecto
        reprehenderit excepturi praesentium, fugiat harum autem. Porro eius quam sequi nihil numquam nulla, ipsam magnam
        rem quisquam explicabo hic repellat cum nostrum?
      </p>
      <br />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quam ad sit deserunt dignissimos in repellendus
        dolore ex velit fugiat totam enim aliquid, minus quas hic pariatur natus est quod? Ullam suscipit at cupiditate
        labore, eum quas animi corporis aspernatur libero illo adipisci placeat. Explicabo vero voluptates rem
        exercitationem ea quo tempora temporibus eum cum impedit et veritatis aperiam maiores earum asperiores eligendi
        ipsum odio molestiae, repudiandae aliquam. Vel tempore eaque a fugit culpa neque facilis labore, architecto
        reprehenderit excepturi praesentium, fugiat harum autem. Porro eius quam sequi nihil numquam nulla, ipsam magnam
        rem quisquam explicabo hic repellat cum nostrum?
      </p>
      <br />
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi quam ad sit deserunt dignissimos in repellendus
        dolore ex velit fugiat totam enim aliquid, minus quas hic pariatur natus est quod? Ullam suscipit at cupiditate
        labore, eum quas animi corporis aspernatur libero illo adipisci placeat. Explicabo vero voluptates rem
        exercitationem ea quo tempora temporibus eum cum impedit et veritatis aperiam maiores earum asperiores eligendi
        ipsum odio molestiae, repudiandae aliquam. Vel tempore eaque a fugit culpa neque facilis labore, architecto
        reprehenderit excepturi praesentium, fugiat harum autem. Porro eius quam sequi nihil numquam nulla, ipsam magnam
        rem quisquam explicabo hic repellat cum nostrum?
      </p>
      <br />
    </div>
  </div>
</div>
{% endblock content %}